<body>
    <nav class="navBar">
		<table>
			<tr>
            <td><a class="navLink" href="/home">Home</a></td>
            <td><a class="navLink" href="/post_beverage">Create a beverage</a></td>
            <td><a class="navLink" href="/post_review">Write a review</a></td>
			</tr>
		</table>
		</nav>
    <div>
    <br>
    <br>
    <hr>
    <h2>Beverage's Name: {{Beverage.name}}</h1> 
    <h2>Beverage's Rating: {{Beverage.rating}}</h1>
    {{!-- <p>{{Beverage.ratingCount}}</p> --}}
    </div>
    
    <div>
        <ol>
            {{#if Posts}}
                {{#each Posts}}
                    <li>{{this.author}}: <a href="../post/{{this.id}}">{{this.title}}</a> </li>
                {{/each}}   
            {{else}}
                <p>This beverage has no posts.</p>
            {{/if}}
        </ol>
    </div>
</body>
