<div class = "boxed">

<h2>Beverage: {{Beverage.name}}</h2> 
<dl>
    <dt class="bevLabel">Type</dt>
    <dd class="bevDesc">{{Beverage.type}}</dd>
    <dt class="bevLabel">Subtype</dt>
    <dd class="bevDesc">{{Beverage.subtype}}</dd>
    <dt class="bevLabel">Company</dt>
    <dd class="bevDesc">{{Beverage.company}}</dd>
    <dt class="bevLabel">Tastes</dt>
    <dd class="bevDesc">{{Beverage.tastes}}</dd>
    <dt class="bevLabel">Rating</dt>
    <dd class="bevDesc">{{Beverage.rating}}</dd>
</dl>
{{!-- <p>{{Beverage.ratingCount}}</p> --}}
</div>

<div class = "boxed2">
    <h2>Posts about {{Beverage.name}}</h2>
    
    {{#if Posts}}
    <ol>
        {{#each Posts}}
            <li class="bevPostLink">{{this.author}}: <a href="../post/{{this.id}}">{{this.title}}</a> </li>
        {{/each}}   
   </ol>
    {{else}}
     <p>This beverage has no posts.</p>
    {{/if}}

</div>
