<body>
    <div>
    <h1>Beverage's Name: {{Beverage.name}}</h1> 
    <h1>Beverage's Rating: {{Beverage.rating}}</h1>
    {{!-- <p>{{Beverage.ratingCount}}</p> --}}
    </div>
    
    <div>
        <ol>
            {{#if Posts.length === 0}}
                <p>This beverage has no posts.</p>
            {{else}}
                {{#each Posts}}
                    <li>{{Posts.author}}: <a href="posts/{{Posts.id}}">{{Posts.title}}</a> </li>
                {{/each}}
            {{/if}}
        </ol>
    </div>
</body>
