<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <title>RateMyDrinks</title>
	    <link rel="stylesheet" href="/public/css/site.css">
	</head>
	<body>
		<h1>RateMyDrinks</h1>
		<nav class="navBar">
		<table>
				<tr>
						{{#if USERAUTH}}
						<td><a class="navLink" href="/home">Home</a></td>
						<td><a class="navLink" href="/post_beverage">Create a beverage</a></td>
						<td><a class="navLink" href="/post_review">Write a review</a></td>
						{{else}}
						<td><a class="navLink" href="/home">Home</a></td>
						{{/if}}
				</tr>
		</table>
		</nav>
		<nav class="loginOrLogout">
			<table>
				<tr>
					{{#if USERAUTH}}
					<td><a href = "/logout">Logout</a></td>
					{{else}}
					<td><a href = "/login_signup">Login</a></td>
					{{/if}}
					{{#if USERNAME}}
					<td><p>Username: {{USERNAME}}</p></td>
					{{/if}}
			{{!-- {{#if LOGIN_LINK}}
			<td><a href = "/login_signup">{{LOGIN_LINK}}</a></td>
			{{/if}}
			{{#if LOGOUT_LINK}}
 			<td><a href = "/logout">{{LOGOUT_LINK}}</a></td>
 			{{/if}}
 			{{#if USERNAME}}
 		    <td><p>Username: {{USERNAME}}</p></td>
 		   --}}
 				</tr>
 		    </table>
		</nav>
		<br>
		<br> 
		<div>{{{body}}}</div>
	</body>
</html>

