<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <title>{{title}}</title>
	    <link rel="stylesheet" href="/public/css/site.css">
	</head>
	<body>
		<nav class="loginOrLogout">
			<table>
				<tr>
			{{#if LOGIN_LINK}}
			<td><a href = "/login_signup">{{LOGIN_LINK}}</a></td>
			{{/if}}
			{{#if LOGOUT_LINK}}
 			<td><a href = "/logout">{{LOGOUT_LINK}}</a></td>
 			{{/if}}
 			{{#if USERNAME}}
 		    <td><p>Username: {{USERNAME}}</p></td>
 		    {{/if}}

 				</tr>
 		    </table>
		</nav><br>
		<h1>{{title}}</h1>
		<br> 
		<div>{{{body}}}</div>
	</body>
</html>

