<main>
    {{else}}
    <a href = "/home" > Home </a>
    <h3> {{author}} </h3>
    <h4> {{beverage}}  </h4>
    <img src="/public/images/{{path}}" alt="Beverage Photo"/> 
    <p> {{content}} </p>
    {{/if}}
</main>