<main>
    <nav class="navBar">
		<table>
            <tr>
            <td><a class="navLink" href = "/beverage/{{beverageRoute}}" > Go Back </a></td>
			</tr>
		</table>
		</nav>
    <br>
    <br>
    <hr>
    {{#if button}}  
        <form action="/post/delete" method="POST"> 
            <input type="hidden" id="beverage" name="beverage" value="{{beverageRoute}}" />
            <input type="hidden" id="post" name="post" value="{{post._id}}" />
             <button class="button" type="submit">Delete Post</button>
        </form>
    {{/if}} 
    <h3> Title: {{post.title}} </h3>
    <h3> Author: {{post.author_id}} </h3>
    <h3> Rating : {{post.rating}} </h3>
    <h4> Beverage: {{post.beverage_id}}  </h4>
   
    <img src="/public/images/{{post.photo_path}}" alt="Beverage Photo"/> 
    <p> {{post.content}} </p>
    
    <div class="formArea">
        <form id="comment_form">
            <label for="content"></label>
            <textarea class="commentArea" name="content" id="content"></textarea> <br>
            <input type= "hidden" id = "post_id" name = 'post_id' value = "{{post._id}}"/>
            <button class="button" type="submit">Submit</button>
        </form>
    </div>

    <div class="commentArea">
        <ul class = "comments_unordered_list">
            {{#each comments}}
                <li>
			{{this.user_id}}: {{this.content}}
                </li>
            {{/each}}
        </ul>
    </div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="../../public/js/comment.js"></script>
</main>
