<main>
    <div>
    <hr>
    {{#if error}}
    <p>Error: Beverage Not Found</p>
    {{else}}
    <a href = "/post_review" > Make Another Review</a>
    <h2> Success </h2>
    <h3> Title: {{title}} </h3>
    <h3> Author: {{author}} </h3>
    <h4> Beverage: <a href = "/beverage/{{beverage._id}}"> {{beverage.name}} </a> </h4>
    <img src="/public/images/{{path}}" alt="Beverage Photo"/> 
    <p> {{content}} </p>
    {{/if}}
    </div>
    
</main>
