<main>
    <a href = "/home" > Home </a> <br>
    <a href = "/beverage/{{beverageRoute}}" > Beverages </a>
    {{#if button}}  
        <form action="/post/delete" method="POST"> 
            <input type="hidden" id="beverage" name="beverage" value="{{beverageRoute}}" />
            <input type="hidden" id="post" name="post" value="{{post._id}}" />
             <button type="submit">Delete Post</button>
        </form>
    {{/if}} 
    <h3> Title: {{post.title}} </h3>
    <h3> Author: {{post.author_id}} </h3>
    <h4> Beverage: {{post.beverage_id}}  </h4>
    <img src="/public/images/{{post.photo_path}}" alt="Beverage Photo"/> 
    <p> {{post.content}} </p>
    
    <div class="formArea">
        <form id="comment_form">
            <label for="content"></label>
            <input type="text" name="content" id="content">
            <input type="submit" value="Submit comment!">
        </form>
    </div>

    <div class="commentArea">
        <ul>
            {{#each comments}}
                <li id="comments">
                    <div>
                        USER: {{this.user_id}} <br>
                        CONTENT: {{this.content}} <br>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
</main>
